<div class="awards">
      <ul style="list-style-type: square; margin-left: -20px;"> 
        <li>John Hopcroft Scholarship, 2023</li>
        <li>Award for Scientific Research Excellents, 2022</li>
        <li>John Hopcroft Scholarship, 2022</li>
        <li>Peking University Dean's Scholarship (Second Prize), 2022</li>
        <li>John Hopcroft Scholarship, 2021</li>
        <li>Peking University Freshman Scholarship (Second Prize), 2020</li>
        <li>Second Highest in National College Entrance Examination, ranked 4/50000+, 2020</li>
      </ul>
</div>
