<div class="awards">
      <ul style="list-style-type: square; margin-left: -20px;"> 
        <li>[2023] John Hopcroft Scholarship</li>
        <li>[2022] Award for Scientific Research Excellents</li>
        <li>[2022] John Hopcroft Scholarship</li>
        <li>[2022] Peking University Dean's Scholarship (Second Prize)</li>
        <li>[2021] John Hopcroft Scholarship</li>
        <li>[2020] Peking University Freshman Scholarship (Second Prize)</li>
        <li>[2020] Second Highest in National College Entrance Examination, ranked 4/50000+</li>
      </ul>
</div>
