<div style="font-size: 14px; font-family: Arial, sans-serif; color: #333;">
    <ul style="list-style-type: circle; padding-left: 20px;">
        <!-- <li style="margin-bottom: 5px; color: #ff6347;">2023: Sensetime Scholarship (30 AI undergraduates per year Nationwide)</li> -->
        <li style="margin-bottom: 5px; color: #ff6347;">2023: Chinese National Scholarship (Highest honor for undergraduates in China, top 0.2%)</li>
        <li style="margin-bottom: 5px; color: #ff6347;">2023: Outstanding Overseas Exchange Scholarship, Peking University</li>
        <li style="margin-bottom: 5px; color: #ff6347;">2023: Merit Student Pacesetter, Peking University</li>
        <li style="margin-bottom: 5px; color: #ff6347;">2023: Exceptional Award for Academic Innovation, Peking University</li>
        <li style="margin-bottom: 5px; color: #0056b3;">2022: Merit Student, Peking University</li>
        <li style="margin-bottom: 5px; color: #0056b3;">2022: China Optics Valley Scholarship</li>
        <li style="margin-bottom: 5px; color: #0056b3;">2022: Peking University Dean's Scholarship (Second Prize)</li>
        <li style="margin-bottom: 5px; color: #2e8b57;">2021: Award for Community or Public Service, Peking University</li>
        <li style="margin-bottom: 5px; color: #2e8b57;">2021: Peking University Scholarship (Third Prize)</li>
        <li style="margin-bottom: 5px; color: #da70d6;">2020: Peking University Freshman Scholarship (Second Prize)</li>
        <li style="margin-bottom: 5px; color: #da70d6;">2020: National College Entrance Examination (aka Gaokao), scored 1 below the highest score in Shanghai, ranking: 4/50000+</li>
        <li style="margin-bottom: 5px; color: #da70d6;">2018-2019: Chinese Mathematics Olympiad (Shanghai Provincial), First Prize</li>
    </ul>
</div>
